@keyframes div-move {
  0% {
    transform: translate(300px, 0px); 
}
25% {
    transform: translate(0px, 0px);
}
50% {
    transform: translate(0px, 300px);
}
75% {
    transform: translate(300px, 300px);
}
  100% { 
   transform: translate(300px, 0px);
}
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div-container {
    width: 400px;
    height: 400px;
    background-color: grey;
    animation: none;
}
div {
    width: 100px;
    height: 100px;
    background-color: red;

    animation-name: div-move;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-play-state: running;

}

